<h4>Currently Listed: </h4>
<br>

<% if logged_in? && the_user.class.name == 'Boss' %>
  <p><%= link_to "New Task", new_task_path %></p>
<% end %>

<%= render "uncompleted-details" %>

<h5><%= link_to "Completed Tasks", completed_tasks_path %></h5>
<br>
