<h1>Edit your Profile</h1>

<%= render 'form' %>
<br>

<%= form_tag boss_path(@boss), method: "delete", data: { confirm: "Are you sure you would like to delete this Profile?" } do %>
  <%= submit_tag "Delete Profile" %>
<% end %>
